*{
  margin: 0;
  padding: 0;
}

:root{
  --slight-green: #edfaf5;
  --green-accent: rgb(35, 164, 85);
  --dark-green: #0d6b31;
  --tint: #e9ffec;
  --black-accent: #212121;
  --purple: #8350f5;
  --dark-purple: #5e2bd0;
  --light-gray: #b7b7b7;
}

body{
  background-color: white;
}