.featureCard{
    display: flex;
    line-height: 2.5rem;
    background-color: var(--tint);
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 5px 2px 15px rgba(200, 200, 200, 0.5);
    color: var(--dark-green);
    margin-top: 2rem;
}

.featureCard .iconify{
    margin: 0;
    margin-right: 0.75rem;
    width: 3rem;
    height: 3rem;
}

@media screen and (max-width: 870px) {
    .featureCard .iconify{
        width: 3rem;
        height: 3rem;
    }
}