.footer{
    display: flex;
    flex-direction: column;
    color: white;
}

.footer .weirdShapeContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
}

.footer .weirdShape{
    position: absolute;
    z-index: -1;
    height: 35vh;
    width: 100vw;
    background-color: var(--green-accent);
    clip-path: polygon(71% 0%, 0% 23%, 0% 100%, 100% 100%, 100% 14%);
}

.footer img{
    width: 3rem;
}

.footer .iconify{
    font-size: 1.4rem;
    margin: 0 0.4rem 0 0.4rem;
    color: white;
    background-color: #6ab075;
    border-radius: 5rem;
    padding: 0.25rem;
    transition: all ease-in-out 0.2s;
}

.footer .iconify:hover{
    background-color: white;
    color: var(--green-accent);
}

.footer .underneath{
    height: 10vh;
    width: 100vw;
    margin-top: 5rem;
    text-align: center;
    background-color: var(--green-accent);
}

.footer .underneath > p{
    margin-bottom: 1rem;
}

.footer .course_page{
    background-color: blueviolet;
    color: white;
    padding: 0.3rem 0.8rem 0.3rem 0.8rem;
    border-radius: 1rem;
    text-decoration: none;
    transition: all ease-in-out 0.2s;
}

.footer .course_page:hover{
    background-color: white;
    color: var(--green-accent);
}