.home{
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home .front h1{
    font-size: 2.8rem;
    margin-bottom: 1rem;
    color: var(--green-accent)
}

.front a{
    padding: 1rem 1.5rem 1rem 1.5rem;
    border-radius: 3rem;
    font-size: 1.2rem;
    border: none;
    color: white;
    background-color: var(--purple);
    transition: all ease-in-out 0.3s;
    font-weight: 700;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-decoration: none;
}

.front a:hover{
    transform: scale(1.15);
    background-color: var(--dark-purple);
}

.green{
    color: var(--green-accent);
}

.home .front p{
    font-size: 1.1rem;
}

.home .weirdShape{
    margin-top: 5rem;
    background-color: var(--green-accent);
    height: 60vh;
    width: 100vw;
    color: white;
    clip-path: polygon(0% 21%, 69% 0%, 100% 23%, 100% 80%, 26% 100%, 0% 80%);
}

.home .weirdShapeContent{
    position: absolute;
    top: 15rem;
    display: flex;
    flex-direction: column;
    z-index: 1;
    width: 80%;
    align-items: center;
    color: white;
}

.home .weirdShapeContent div:first-child {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.home .weirdShapeContent div:last-child {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.home .weirdShapeContent div:last-child p:first-child {
    font-size: 1.75rem;
    font-weight: 700;
}

#slogan{
    width: 30rem;
    font-size: 1.15rem;
    margin-right: 9rem;
    line-height: 2rem;
}

#phone{
    height: 300px;
    margin-left: 6rem;
    margin-top: 5rem;
}

#happytree{
    height: 250px;
    margin-top: 5rem;
}

.home .iconify{
    position: relative;
    top: 0.2rem;
    font-size: 2rem;
    padding: 0 0.5rem 0 0.5rem;
}

.home h2{
    font-size: 2rem;
}

.home .front{
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    width: max-content;
}

.home .purpose{
    display: flex;
    flex-direction: column;
    background-color: white;
    color: var(--green-accent);
    padding-top: 3rem;
    padding-bottom: 8rem;
    margin: auto;
}

.home .purpose > h1{
    font-size: 2rem;
    margin-bottom: 2rem;
}

.home .purpose > p{
    width: 50rem;
    margin: auto;
    line-height: 2rem;
    color: var(--black-accent);
}

.home .purpose > p, .home .purpose > h1{
    text-align: center;
}

.home .featureCards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 1rem;
    column-gap: 1rem;
    width: 90%;
    margin: auto;
}


@media screen and (max-width: 870px) {
    .home .front h1{
        font-size: 2rem;
    }
    .home .front p{
        font-size: 1rem;
    }
    .home .front a{
        font-size: 1rem;
    }
    #phone{
        height: 200px;
        margin-left: 0;
        margin: 1rem;
        margin-top: 5rem;
    }
    #happytree{
        margin: 1rem;
        height: 150px;
        margin-top: 5rem;
    }
    .home .weirdShapeContent div:last-child {
        width: 100%;
    }

    .home .weirdShapeContent div:first-child {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    
    .home .weirdShapeContent div:last-child p:first-child {
        font-size: 1.25rem;
        letter-spacing: 0.1rem;
        font-weight: 700;
    }
    #slogan{
        width: 30rem;
        font-size: 1rem;
        margin-right: 0;
        line-height: 2rem;
    }

    .home .purpose > p{
        width: 30rem;
    }

.home .featureCards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1rem;
    column-gap: 1rem;
    width: 90%;
}
}